@font-face {
  font-family: 'Minion';
  src: url('../fonts/minion.ttf')
}

/*@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GOTHAM-BOLD.TTF');
}
*/
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham-bold-webfont.eot');
    src: url('../fonts/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-bold-webfont.woff2') format('woff2'),
         url('../fonts/gotham-bold-webfont.woff') format('woff'),
         url('../fonts/gotham-bold-webfont.ttf') format('truetype'),
         url('../fonts/gotham-bold-webfont.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
	font-family: 'Minion';
 	max-width: 100%;
    overflow-x: hidden!important;
 	position: relative;
}

body {
	max-width: 100%!important;
    overflow-x: hidden!important;
}

h1, h3 {
	font-family: 'Gotham';
}

h1 {
	letter-spacing: -3px;
}

.share {
	color: inherit;
	text-decoration: none;
}

.share:visited {
	color: inherit;
	text-decoration: none;
}


.share:hover {
	color: red;
	cursor: pointer;
}

.lit {
	display: block;
}


/* cover */
.lit#cover {
	background-image: url(../img/Cover.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

.lit#cover h1, .lit#cover h3 {
	margin: 0;
}

.lit#cover h1 {
	font-size: 5em;
}

.lit#cover .title {
	line-height: 2em;
}

.lit#cover article {
	padding: 7em 7em;
}

.lit#cover .body {
	margin-top: 2em;
	font-size: 1.2em;
}

.lit#cover a {
	text-decoration: none;
	font-family: 'Gotham';
	color: white;
	line-height: 20px;
}


.lit#cover a::before,
.lit#cover a::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0.2;
	-webkit-transition: opacity 0.3s, height 0.3s;
	-moz-transition: opacity 0.3s, height 0.3s;
	transition: opacity 0.3s, height 0.3s;
}

.lit#cover a::after {
	top: 100%;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.lit#cover a span:first-child {
	z-index: 2;
	display: block;
	font-weight: 300;
}

.lit#cover a span:last-child {
	z-index: 1;
	display: block;
	padding: 4px 0 0 0;
	color: rgba(0,0,0,0.4);
	text-shadow: none;
	text-transform: none;
	font-style: italic;
	font-size: 0.75em;
	font-family: 'Minion Pro', serif
}

.lit#cover a:hover {
	color: red;
}



/* DIG BY GRACE KONSTANTIN */
.lit#konstantin {
	height: 100vh;
	background-image: url(../img/dig_cover.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.lit#konstantin article {
	/*width: 40%;*/
	/*margin: 0 auto;*/
	padding-top: 10vh;

}

.lit#konstantin #container2 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;/*
	background:#ffa7a7;  column 2 background colour */
}
.lit#konstantin #container1 {
	float:left;
	width:100%;
	position:relative;
	right:50%;
	/*background:#fff689;  column 1 background colour */
}
.lit#konstantin .title {
	float:left;
	position:relative;
	left:52%;
	overflow:hidden;
}

.lit#konstantin h1 {
	font-size: 11.5em;
    margin-top: 60px;
    margin-left: 0px;
    margin-right: -100px;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	/*-ms-transform-orig: rotate(-90deg);*/
	transform-origin: left top 10;
}

.lit#konstantin .body {
	float:left;
	width: 46%;
	position:relative;
	left:56%;
	overflow:hidden;
}

/* GIRLHOOD AFTER RILKE BY SARAH CHIN */
.lit#chin {
	background-color: #FBF4F4;
}

.lit#chin article {
	width: 70%;
	margin: 0 auto;
	padding-top: 10vh;
}

.lit#chin .copy {
	width: 90%;
	margin: 0 auto;
	font-size: 1.1em;
}

.lit#chin .title {
	text-align: right;
}

.lit#chin h1 {
	text-transform: uppercase;
	font-size: 5em;
	line-height: 1em;
}

.lit#chin h1, .lit#chin h3 {
	margin: 0;
}

.lit#chin .body {
	text-align: justify;
}

.lit#chin img {
	width: 100%;
}


/* PAPA BY CARISSA fleury */
.lit#fleury {
	background-color: #FBF4F4;
}

.lit#fleury article {
	width: 95%;
	margin: 0 5% 0;
}

.lit#fleury .title {
	text-align: left;
	padding-bottom: 3em;
}

.lit#fleury h1 {
	text-transform: uppercase;
	font-size: 5em;
	line-height: 1em;
}

.lit#fleury h1, .lit#fleury h3 {
	margin: 0;
}

.lit#fleury .body {
    -moz-column-count: 3;
    -moz-column-gap: 30px;
    -webkit-column-count: 3;
    -webkit-column-gap: 30px;
    height: 840px;
    padding-bottom: 10%;
}

.lit#fleury #first {
	-webkit-margin-before: 0em;
}

.lit#fleury img {
	width: 100%;
}

/* 01.09.2014 BY EMMA pinsky */
.lit#pinsky article {
	width: 30%;
	margin: 0 auto;
}

.lit#pinsky .body {
	text-align: justify;
	font-size: 1.1em;
}

.lit#pinsky .title {
	text-align: center;
}

.lit#pinsky h1 {
	font-size: 4em;
	margin-bottom: 0px;
	color: #300066;
}

.lit#pinsky h3 {
	font-size: 1.5em;
	margin-top: 0px;
}

.lit#pinsky p {
	text-indent: 35px;
	margin: 0px;
}

.lit#pinsky .body > h1 {
	text-align: center;
	margin: 0px;
	margin-bottom: -30px;
}

.lit#pinsky img {
	display: block;
	margin: 75px auto;
	width: 40%;
}

/* FADING BY JAANVI SANT */
.lit#sant {
	display: inline-block;
}

.lit#sant .container{
	width: 60%;
	margin: 0 auto;
}

.lit#sant article {
	width: 50%;
	float: right;
}

.lit#sant #sil {
	width: 45%;
	float: left;
	margin: 75px auto;
	display: block;
}

.lit#sant #train {
	display: block;
	width: 100%;
}

.lit#sant .body {
	text-align: justify;
	/*padding-bottom: 10vh;*/
}

.lit#sant .title {
	text-align: left;
}

.lit#sant h1 {
	font-size: 6em;
	margin-bottom: 0px;
}

.lit#sant h3 {
	font-size: 1.5em;
	margin-top: 0px;
}`

/* BIG FORKS by GABBY BONFIGLIO */
.lit#bonfiglio {
	padding-top: 10vh;
	overflow: hidden;
	position: fixed;
	max-width: 100%;
}

.lit#bonfiglio article {
	width: 50%;
	margin: 0 auto;
}

.lit#bonfiglio .title {
	text-align: center;
	margin-bottom: 3em;
}

.lit#bonfiglio h1 {
	color: #87BFDB;
	font-size: 7em;
	margin-bottom: 0px;
	line-height: 1em;
}

.lit#bonfiglio h3 {
	margin-top: 0px;
}

.lit#bonfiglio .body {
	text-align: justify;
	font-size: 1.2em;
	overflow-x: hidden!important;
}

.lit#bonfiglio p {
	text-indent: 35px;
	/*margin: 0px;*/
}

.lit#bonfiglio #dough {
	z-index: -1;
	width: 50%;
	position: absolute;
	left: 80%;
}

.lit#bonfiglio #butter {
	z-index: -1;
	width: 50%;
	position: absolute;
	left: 80%;

}

.lit#bonfiglio #bowl {
	z-index: -1;
	width: 50%;
	position: absolute;
	right: 80%; 

}

.lit#bonfiglio #fork {
	z-index: -1;
	width: 50%;
	display: block;
	margin: 3em auto;
}

/* EATON HALL BY BEN KESSLEN */
.lit#kesslen .title {
	height: 100vh;
	background-image: url(../img/kesslen2.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: #ffe0e0;
	margin: 0 auto;
	width: 100%;
	text-align: center; 
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

.lit#kesslen h1 {
	margin-bottom: 0em;
	font-size: 5em; 
}

.lit#kesslen h3 {
	margin-top: 0em;
}

.lit#kesslen .body {
	text-align: justify;
	font-size: 1.2em;
	padding: 3em 0em;background-color: #ffe0e0;
	background-image: url("http://www.transparenttextures.com/patterns/axiom-pattern.png");
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */}

.lit#kesslen p {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}

.lit#kesslen span {
	font-weight: bold;
}

/* HELLO BY JUDY CHEN */
.lit#chen {
	height: 100vh;
	background-image: url(../img/chen.jpg);
	background-size: cover;
	/*background-attachment: fixed;*/
}

.lit#chen article {
	margin: 0 auto;
    margin-right: 10%;
    padding: 2% 5%;
    width: 20%;
	color: white;
	font-weight: bold;
	background-color: rgba(0,0,0,.5);
}

.lit#chen h1, .lit#chen h3 {
	text-align: center;
	margin: 0;
	color: white  ;
}

.lit#chen h1 {
	font-size: 3em;
}

.lit#chen .body {
	font-size: 1.2em;
}

.lit#chen .left {
	text-align: left;
	margin: 0;
}

.lit#chen .middle {
	text-align: center;
	margin: 0;
}

.lit#chen .right {
	text-align: right;
	margin:0;
}

/* DON'T TELL BY TESS ROSS-CALLAHAN */
.lit#tess {
	background-image: url(../img/tess.jpg);
	background-size: cover;
	/*background-attachment: fixed;*/
	color: white;
}

.lit#tess .title {
	margin-bottom: 1em;
}

.lit#tess h1, .lit#tess h3 {
	text-align: left;
	margin: 0;
}

.lit#tess h1 {
	margin-bottom: -20px;
	font-size: 5em;
}

.lit#tess article {
	width: 50%;
	padding: 2em 2em ;
	background-color: rgba(0,0,0,.75);
	font-size: 1.1em;
}

.lit#tess .body {
	text-align: justify;
}

.lit#tess p {
	text-indent: 35px;
	margin: 0px;
	margin-bottom: 12px;
}

/* DIlemma BIRDS by conor ward*/
.lit#ward .banner {
	height: 100vh;
	background-image: url(../img/ward1.jpg);
	background-size: cover;
	background-attachment: fixed;
}


.lit#ward h1, .lit#ward h3 {
	text-align: center;
	margin: 0;
}

.lit#ward h1 {
	margin-bottom: -20px;
	font-size: 4em;
}

.lit#ward .title {
	margin-bottom: 2em;
}

.lit#ward article {
	width: 50%;
	margin: 0 auto;
	border-style: solid;
	border-left: thick double black;
	border-right: thick double black;
	border-top: none;
	border-bottom: none;
	padding: 3em 5em;
}

.lit#ward .body {
	text-align: justify;
	font-size: 1.1em;
}

.lit#ward p {
	text-indent: 35px;
	margin: 0px;
	margin-bottom: 12px;
}

.lit#ward img {
	width: 100%;
	margin-top: 3em;
}

/* Elegy by Tess Hinchman */
.lit#hinchman {

}

.lit#hinchman .title {
	height: 100vh;
	background-image: url(../img/hinchman.jpg);
	background-size: cover;
	display: flex;
    align-items: center;
    /*line-height: 1em;*/
}

.lit#hinchman h1 {
	font-size: 4em;
	width: 60%;
	line-height: 1em;
	padding-left: 15%;
}
.lit#hinchman h1 > span {
	font-size: 24px;
	letter-spacing: 0px;
}

.lit#hinchman .body {
	padding-left: 15%;
	font-size: 1.3em;
	margin-top: 10%;
	width: 30%;
	/*float: left;*/
	display: block
}

.lit#hinchman img {
	z-index: -1;
	width: 20%;
	position: absolute;
	left: 60%; 
}

/* A LETTER ON THE BY HENRY allison */
.lit#allison {
	background-image: url(../img/allison.jpg);
	background-size: contain;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: black;
}

.lit#allison article {
	width: 40%;
	padding: 5em 2em;
	background-color: rgb(255,255,255);
	margin-left: 30%
}

.lit#allison h1 {
	margin: 0;
	font-size: 3em;
	color: #DBCB5C;
}

.lit#allison .title {
	width: 135%;
}

/* parts 1&2 by liam knox */
.lit#knox {
	/*height: 100vh;*/
	background-image: url(../img/knox.jpg);
	background-size: contain;
	background-position: right;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: right;
}

.lit#knox article {
	width: 50%;
	margin-left: 10%;
	padding: 3em 0;
}

.lit#knox h1, .lit#knox h3 {
	margin: 0;
}

.lit#knox h1 {
	font-size: 4em;
}

.lit#knox h1 > a > span {
	color: gold!important;
}

/* bReaking by kat pong */
.lit#pong {
	width: 100%;
	background-color: black;
}
.lit#pong img {
	width: 60%;
	margin:0 auto;
	display: block;
}

.lit#pong article {
	width: 50%;
	margin: 0 auto;
	padding: 5em 5%;
	background-color: white;

}

.lit#pong h1, .lit#pong h3 {
	margin: 0;
	text-align: left;
}

.lit#pong h1 {
	font-size: 5em;
	color: #075C98;
}

.lit#pong .body {
	text-align: left;
	font-size: 1.1em;
}

/* MIDWEEK BY LIZA LEONARD */
.lit#leonard {
	background-image: url(../img/leonard.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.lit#leonard h1, .lit#leonard h3 {
	margin: 0;
	color: white;
	text-align: center
}

.lit#leonard h1 {
	font-size: 5em;
}

.lit#leonard article {
	width: 60%;
	margin: 0 auto;
	padding: 4em;
}

.lit#leonard .body {
	background-color: rgba(255,255,255,0.9);
	padding: 2em 3em;
	margin-top: 2em;
	text-align: justify;
	font-size: 1.1em;
}

.lit#leonard p {
	text-indent: 35px;
	margin: 0px;
}

/* A MOVIE THEATRE BALLAD By Kevin Lombard */
.lit#lombard {
	background-image: url(../img/lombard2.jpg);
	background-size: contain;
	background-attachment: fixed;
	background-color: black;
	color: white;
}

.lit#lombard h1, .lit#lombard h3 {
	margin: 0;
}

.lit#lombard h1 {
	font-size: 4em;
	line-height: 1em;
	text-align: left;
}

.lit#lombard h3 {
}

.lit#lombard .title {
	width: 120%;
	display: block;
}

.lit#lombard article {
	background-color: rgba(0,0,0,.75);
	width: 30%;
	margin: 0 auto;
	padding: 5em 4em;
	background-image: url("http://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.lit#lombard .body {
	margin-top: 2em;
	display: inline-block;
}

/*Saffron by Arora */

.lit#arora {

	background-image: url("http://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
}
.lit#arora .title {
	height: 100vh;
	background-image: url(../img/arora.jpg);
	background-size: contain;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: white;
	margin: 0 auto;
	width: 100%;
	text-align: center; 
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

.lit#arora h1 {
	font-size: 9em;
	margin: 0;
}

.lit#arora .quote {
	height: 80vh;
	width: 60%;
	margin: 0 auto;
	font-size: 2em;
		display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

.lit#arora .body {
	margin: 0 auto;
	width: 60%;
}

/*scooby by jonathan jacob moore */
.lit#moore {
	background-image: url(../img/moore.jpeg);
	background-size: cover;
	height: 200vh;
}

.lit#moore article {
	width: 70%;
	margin: 0 auto;
	padding: 5em 0;
}

.lit#moore h1, .lit#moore h3 {
	margin: 0;
}

.lit#moore h1 {
	font-size: 4em;
	line-height: 1em;
}

.lit#moore .title {
	color: white;
}

.lit#moore .body {
	background-color: rgba(58,177,151,.70);
	margin-top: 1em;
	padding: .5em 1em;
	color: white;
	text-align: justify;
	width: 60%;
	background-image: url("http://www.transparenttextures.com/patterns/grunge-wall.png");
}

/* roots by yaa knakam-nantwi*/
.lit#kankam-nantwi {
	text-align: center
}

.lit#kankam-nantwi img {
	width: 100%;
}

.lit#kankam-nantwi article {
	width: 70%;
	margin: 0 auto;
}

.lit#kankam-nantwi h1 {
	color: #632b4b;
	letter-spacing: .25em;
	font-size: 7em;
	margin: 0;
}

.lit#kankam-nantwi h3 {
	margin: 0;
	font-size: 2em;
	color: #632b4b;
}

.lit#kankam-nantwi .body {
	margin: 3em 0;
}

/*ice by hailey gavin*/
.lit#gavin {
		background-image: url(../img/gavinice.jpeg);
	background-attachment: fixed;
}

.lit#gavin h1, .lit#gavin h3 {
	margin: 0;
}

.lit#gavin h1 {
	font-size: 10em;
	/*letter-spacing: 1em;*/

}

.lit#gavin article {
	width: 50%;
	margin: 0 auto;

	padding: 5em;
}

.lit#gavin .title {
	text-align: center;
}

.lit#gavin .body {
	margin-top: 2em;
	color: black;
	font-size: 1.2;
	text-align: justify;
}

.lit#gavin p {
	margin: .5em;
	text-indent: 35px;
}

/* clarity by nick dorian */
.lit#dorian {
	height: 200vh;
	background-image: url(../img/dorian.jpg);
	background-size: cover;
}

.lit#dorian h1, .lit#dorian h3 {
	margin: 0;
}

.lit#dorian h1 {
	font-size: 5em;
}

.lit#dorian article {
	color: white;
	/*margin: 6em;*/
	padding: 6em;
}

.lit#dorian .body {
	font-size: 1.1em;
}
.cd-nav-trigger {
  display: none;
}

.no-touch #cd-vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
.no-touch #cd-vertical-nav li {
	list-style-type: none;
  text-align: right;
  line-height: 10px;
}
.no-touch #cd-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.no-touch #cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}
.no-touch #cd-vertical-nav a span {
  float: right;
  display: inline-block;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.no-touch #cd-vertical-nav a:hover span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.no-touch #cd-vertical-nav a:hover .cd-label {
  opacity: 1;
}
.no-touch #cd-vertical-nav a.is-selected .cd-dot {
  background-color: white;
}
.no-touch #cd-vertical-nav .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 8px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #d88683;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.no-touch #cd-vertical-nav .cd-label {
  position: relative;
  margin-right: 10px;
  padding: .4em .5em;
  font-family: 'Gotham';
  color: white;
  background-color: rgba(0,0,0,.75);
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
